body {
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

.wrapper {
  overflow: hidden;
}

.slider {
  display: flex;
}

.slider:hover {
  will-change: transform;
}

.slider li {
  width: 80vw;
  flex-shrink: 0;
  max-width: 300px;
  margin: 10px;
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
}

.slider li.active {
  opacity: 1;
  transform: scale(1);
}